.Swiper-container {
	width: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
	margin-top: -20px;
	padding-bottom: 30px;
}
.Swiper-container img {
	border-radius: 10px;
	transform: scale(1)
}
.Swiper-wrapper {
	margin-top: 10px
}
.Swiper-slide {
	width: 96%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.Swiper-slide .main-img {
	width: 100%;
	margin: 0 auto;
	display: block
}
#pagination {
	position: inherit;
	width: 20%;
	margin: 10px auto 0 auto;
	overflow: hidden;
	background: #FFF;
}
#pagination .Swiper-pagination-bullet {
	width: 9.5%;
	float: left;
	margin: 0 0 0 6.15%;
	background: 0;
	opacity: 1
}
.Swiper-pagination-bullet i {
	background: #c9c9c9;
	width: 5px;
	height: 5px;
	line-height: 5px;
	border-radius: 100px;
	display: block;
	font-style: normal;
	text-align: center;
	margin: 0 auto;
	color: #f5b55c
}
.Swiper-pagination-bullet-active i {
	background: #333;
}
@media screen and (min-height:481px) {
.Swiper-wrapper {
	margin-top: 20px
}
#pagination {
	bottom: 110px
}
}
@media screen and (min-height:569px) {
.Swiper-wrapper {
	margin-top: 25px
}
#pagination {
	bottom: 120px
}
.Swiper-pagination-bullet i {
	width: 5px;
	height: 5px;
	line-height: 5px;
}
.banner_m_warp {
	background: #FFF;
	padding-bottom: 20px;
}
/*-------------------------------正文css-----------------------------------*/


* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	border: none;
}
body {
	background: #eee;
}
li.nav_no {
	display: none;
}
div.top {
	overflow: hidden;
	width: 100%;
	left: 0;
	top: 0;
	background: #FFF;
}
div.top_warp {
	width: 100%;
	margin: 0;
	height: 30px;
	margin-top: 10px;
}
a.logo {
	display: block;
	float: left;
	width: 7%;
	padding-top: 6px;
	padding-left: 3%;
}
a.logo svg {
	width: 30px;
}
div.top_nav {
	float: right;
	width: 80%;
	overflow: hidden;
	padding: 0;
	height: 42px;
	padding-right: 30px;
}
div.top_nav li {
	float: right;
	padding: 0;
	width: 84px;
	padding-left: 10px;
	text-align: center;
	line-height: 40px;
	height: 42px;
	margin: 0;
}
div.top_nav li a {
	font-size: 14px;
	color: #666;
	display: block;
}
div.top a.logo_bai svg {
	fill: #000;
}
.banner_m_warp {
	padding-top: 5px;
	background: #FFF;
}
.title_m {
	text-align: left;
	padding-bottom: 10px;
}
.title_m b {
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 32px;
	letter-spacing:-1px;
	color: #333;
	padding-right: 5px;
}
.title_m span {
	font-weight: normal;
	font-size: 16px;
	color: #333;
	line-height: 20px;
}
.title_m a:hover {
	cursor: default;
}
@font-face {
	/* font-test*/
	font-family: tonjay;
	src: url('font/SFUDinEngAlt.woff'), url('font/SFUDinEngAlt.ttf'), url('font/SFUDinEngAlt.eot'); /* IE9 */
}
.work_list_m_warp {
	width: 94%;
	margin: 30px auto 25px auto;
}
.work_list_m {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.work_list_m ul {
	width: 2700px;
}
.work_list_m li {
	float: left;
	width: 150px;
	padding: 5px 5px 0 5px;
	margin-right: 10px;
	background: #FFF;
	border-radius: 10px;
	text-align: center;
}
.work_list_m li img {
	width: 100%;
	border-radius: 6px;
}
.work_list_m li p {
	line-height: 34px;
}
.work_list_m li a {
	color: #757575;
	font-size: 12px
}
.sheyingji {
	width: 94%;
	margin: 0 auto;
}
.sheyingji li {
	margin-bottom: 15px;
}
.sheyingji img {
	width: 100%;
	border-radius: 10px;
}
.about_m_warp {
	width: 94%;
	margin: 40px auto 55px auto;
}
.about_m_warp p {
	font-size: 14px;
	color: #666;
	line-height: 21px;
	position: relative;
}
.about_m_warp p span {
	color: #a9a9a9;
}
.about_m_warp p a {
	display: block;
	width: 80px;
	line-height: 24px;
	text-align: center;
	border-radius: 20px;
	background: #aaa;
	color: #FFF;
	position: absolute;
	right: 0;
	bottom: 8px;
	font-size: 12px;
}
.about_m_warp ul {
	margin: 35px 0 0 0;
	overflow: hidden
}
.about_m_warp li {
	float: left;
	width: 50%;
	color: #666;
	line-height: 38px;
	font-size: 14px;
}
.about_m_warp li span {
	padding-left: 10px;
	color: #aaa;
}
.foot_m {
	background: #333;
	text-align: center;
	color: #ccc;
	font-size: 12px;
	border-radius: 10px 10px 0 0;
	height: 40px;
	line-height: 40px;
}
.foot_m a {
	color: #ccc;
	font-size: 12px;
}
.logo {
	display: block;
	float: left;
	width: 80px;
	margin-left: 3%;
}
.logo {
	opacity: 0.6;
	transition: 0.6s;
}
.logo:hover {
	opacity: 1;
}












