.Swiper-container {
	width: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
	margin-top: -20px;
	padding-bottom: 15px;
}
.Swiper-container img {
	border-radius: 10px;
	transform: scale(1)
}
.Swiper-wrapper {
	margin-top: 10px
}
.Swiper-slide {
	width: 96%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.Swiper-slide .main-img {
	width: 100%;
	margin: 0 auto;
	display: block
}
#pagination {
	position: inherit;
	width: 20%;
	margin: 10px auto 0 auto;
	overflow: hidden;
	background: #FFF;
}
#pagination .Swiper-pagination-bullet {
	width: 9.5%;
	float: left;
	margin: 0 0 0 6.15%;
	background: 0;
	opacity: 1
}
.Swiper-pagination-bullet i {
	background: #c9c9c9;
	width: 5px;
	height: 5px;
	line-height: 5px;
	border-radius: 100px;
	display: block;
	font-style: normal;
	text-align: center;
	margin: 0 auto;
	color: #f5b55c
}
.Swiper-pagination-bullet-active i {
	background: #333;
}
@media screen and (min-height:481px) {
.Swiper-wrapper {
	margin-top: 20px
}
#pagination {
	bottom: 110px
}
}
@media screen and (min-height:569px) {
.Swiper-wrapper {
	margin-top: 25px
}
#pagination {
	bottom: 120px
}
.Swiper-pagination-bullet i {
	width: 5px;
	height: 5px;
	line-height: 5px;
}
.banner_m_warp {
	background: #FFF;
	padding-bottom: 20px;
}
/*-------------------------------正文css-----------------------------------*/












