/* CSS Document */

div.top {
	width: 100%;
	position: fixed;
}
div.top_warp {
	width: 1789px;
	margin: 0 auto;
}
div.x-warp {
	max-width: 1789px;
	margin: 0 auto;
}
a.logo {
	margin-left: 0;
}
div.work_list {
	margin-left: 0;
	width: 1789px;
	margin: 0 auto;
}
div.work_title {
	padding-left: 0;
	width: 1789px;
	margin: 0 auto;
	padding-top: 178px;
}
div.about_1 .foot {
	padding: 0;
	width: 1789px;
	margin: 0 auto;
}

