/* CSS Document */

div.top {
	width: 100%;
	position: fixed;
}
div.top_warp {
	width: 1789px;
	margin: 0 auto;
}
div.x-warp {
	max-width: 1789px;
	margin: 0 auto;
}
a.logo {
	margin-left: 0;
}
div.work_list {
	margin-left: 0;
	width: 1789px;
	margin: 0 auto;
}
div.work_title {
	padding-left: 0;
	width: 1789px;
	margin: 0 auto;
	padding-top: 178px;
}
div.about_1 .foot {
	padding: 0;
	width: 1789px;
	margin: 0 auto;
}
div.sheying_banner {
	max-width: 1789px;
	margin: 0 auto;
	padding-bottom: 1020px;
	background-size: auto;
}
div.sheying_warp {
	max-width: 1789px;
	margin: 0 auto;
}
div.xiaorong_box {
	width: 1789px;
	margin: 0 auto;
	position: relative;
}
div.xiaorong_banner {
	width: 550px;
	position: absolute;
	background-color: #ededed;
	height: 100%;
	background-image: none;
}
div.fuji_copy_warp {
	width: 480px;
	padding: 0;
	position: fixed;
	bottom: 10px;
}
div.xiaorong_title {
	display: block;
	width: 480px;
	padding: 0;
	position: fixed;
	bottom: 10px;
}
div.xiaorong_title img {
	width: 480px;
}
div.zairenjian_banner {
	padding-bottom: 960px;
	width: 1789px;
	margin: 0 auto;
	background-size: auto;
	background-attachment: fixed;
}
div.renxiang_banner {
	padding-bottom: 1020px;
	width: 1789px;
	margin: 0 auto;
	background-size: auto;
	background-attachment: fixed;
}
div.dibiao_banner {
	padding-bottom: 1020px;
	width: 1789px;
	margin: 0 auto;
	background-size: auto;
	background-attachment: fixed;
}
div.tophei {
	background-color: rgba(0,0,0,0.3);
	overflow: hidden;
}
div.tophei .logo {
	padding-left: 20px;
}
div.sheying_top div.top {
	background: none
}
